<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>
<body>

<a class="btn btn-primary" th:href="@{/departments/create/{hospitalId} (hospitalId=${hospitalId})}" role="button">Add Department</a>

<div class="container" style="width: 80%; margin: 0 auto">
    <div class="card" style="width: 18rem;"
         th:each="department:${getAllDepartments}">

        <div class="card-body">
            <h5 class="card-title" th:text="${department.getName()}">Department</h5>

            <form th:method="GET" th:action="@{/departments/{hospitalId}/enter/{depId} (hospitalId = ${hospitalId}, depId = ${department.getId()})}">
                <input type="submit" th:value="Enter">
            </form>

            <form th:method="GET" th:action="@{/departments/{hospitalId}/update/{depId} (hospitalId = ${hospitalId}, depId = ${department.getId()})}">
                <input type="submit" th:value="Update">
            </form>

            <form th:method="DELETE" th:action="@{/departments/{hospitalId}/delete/{depId} (hospitalId=${hospitalId}, depId=${department.getId()})}">
                <input type="submit" th:value="Delete">
            </form>


        </div>

    </div>
</div>

<a class="btn btn-primary" href="/hospitals/{hospitalId}/hospital (hospitalId=${hospitalId})" role="button">Go Back</a>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
